$color: #516beb;
$margin: 3%;
$padding: 2%;

* {
  margin: 0;
  padding: 0;
}
body {
  section {
    background-color: #dfe2f0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $margin;
    padding: 5%;
    text-align: center;
  }
.btn:hover {
    background-color: $color;
    color: white;
    border-radius: 100px;
  }
  .img {
    width: 100px;
    height: 100px;
    margin-left: 30%;
    margin-top: $margin;
  }
  .card {
    box-shadow: 0 0 10px 5px lightblue;
    padding: $padding;
    width: auto;
    min-width: 15rem;
  }
  .card:hover{
    box-shadow: 0 0 10px 12px lightblue;
  }
  hr {
    width: 70px;
    margin-left: 35%;
  }
  p {
    height: 100px;
  }
  h5 {
    color: $color;
  }
}

@media only screen and (max-width: 768px) {
  body {
    .navbar {
      display: none;
    }
 section {
      width: 100%;
      grid-template-columns: 1fr;
      grid-gap: 1%;
    }
    section {
      .card {
        box-shadow: none;
        padding: 1%;
        width: 95%;
      }
    }
    .img {
      margin-left: 40%;
      height: 50px ;
      width:50px ;
    }
    hr {
      margin-left: 40%;
    }
    p{
    height: auto;
    min-height: 50px;
}
  }
}
