
$colorA: red;
$colorB: lightgray;
$mainColor: white;
$mainbackgroundcolor: red;
$h6color: red;
$h5color: rgba(11, 135, 139, 0.719);
$footer-log-backgroundcolor: whitesmoke;
$span-color: white;
$logo-bk-color: darkslategray;

* {
  margin: 0;
  padding: 0;
}


body {
      section {
        background-color: rgb(235, 233, 233);
        font-size: 15px;
        font-family: Georgia, serif;;
      }
    .container{
      border: solid 1px rgb(238, 233, 233);
      background-color: white;
    }
    .row{
      padding : 2% 5% 2% 5% ;

    }
   .logo,  .discription {
    background-color: $footer-log-backgroundcolor;
   }
  ul{
    list-style: none;
  }
  li{
    display: inline;
    margin: 1.5%;
  }
.person{
    height: 350px;
    width: 300px;
  }
  
  .part-3{
    height: 70px;
    width: 50px;
  }
  span{
    color: rgb(151, 150, 150);
    padding: 10px;
    
  }
.last{
  text-align: center;
  padding: 2%;
}
.footer{
  background-color: $footer-log-backgroundcolor;
  text-align: center;
  padding: 2%;
}
h2{
  text-align: center;
  padding: 5%;
}
.main{
  color: $mainColor;
  background-color:$mainbackgroundcolor;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 50px;
}
.span{
  color: $span-color;
  border: solid 2px transparent;
  border-radius: 50px;
  padding: 10px;
  background-color: rgb(212, 209, 209);
}
.Logo{
  background-color: $logo-bk-color;
  padding: 10px;
  text-align: center;
}
.overview, .more{
  height: 150px;
  width: 150px;
}
h5{
  color: $h5color;
}
h6{
  color: $h6color;
}


}
@media only screen and(max-width: 768px){

  body{

    section{
      .overview, .more, .part-3{
        display: none;
      }
      .person{
       width: 400px;
       height: 350px;
       margin-top: 10%;
      }
      .row{
        padding:10%;
     }
     .man, .span{
          margin-top: 10px;
          width: 150px;
     }
     li{
     display: block;
      margin: 5%;
    }
    .list{
      li{
        display: inline;
        margin: 5%;
      }
    }
    }
  }
  
}
